.caller {
    padding: 16px;
    margin: 20px 10rem;
    height: 100%;
    display: grid;
    grid-template-rows:  auto 120px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
    justify-items: center;

    border-color: $color-gray-light-3;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;

    background-color: $color-gray-light-1;

    &--button {
        padding: 20px;
        box-shadow: 3px 3px 5px grey;
        transition: 0.1s;
        &-call {
            background-color: $color-primary;
        }

        &-record {
            background-color: $color-secondary;
        }


        &:hover {
            box-shadow: 1px 1px 5px grey;
            transform: translateX(3px) translateY(3px);;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &--title {
        grid-column: span 2;
        text-align: center;
        color: $color-gray-dark-3;
    }
}